<%- include('../partials/header') %> 

    <div class="container pt-2">
        <div class="column">
            <h1 class='text-center'> Add a New Campground</h1>
            <form action="/campgrounds/<%- campground._id %>/comments" method="POST">
                <div class="form-group">
                    <input type="text" placeholder="text" name='comment[text]' class='p-2 form-control' required>
                    <span class="form-text text-secondary pl-2">*required</span>
                </div>
                <div class="form-group">
                    <input type="text" placeholder="author" name='comment[author]' class="p-2 form-control" required>
                    <span class="form-text text-secondary pl-2">*required</span>
                </div>
                <div class="form-group">
                    <button type='submit' class="btn btn-block btn-primary">Add Comment</button>
                </div>
                <a href="/campgrounds" class=" pl-0 btn btn-md text-primary">back</a>
            </form>
        </div>
    </div>
<%- include('../partials/footer') %> 
