<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom Css -->
    <link rel="stylesheet" href="/main.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
          <a href="/campgrounds" class="navbar-brand a">YelpCamp</a>
          <div type="button" data-toggle="collapse" data-target="#navContent" class="navbar-toggler a">
              <i class="fa fa-bars"></i>
          </div>   
          <div class="collapse navbar-collapse" id='navContent'>
              <ul class="nav navbar-nav ml-auto">
                  <a href="/campgrounds" class="nav-item nav-link a">Campgrounds</a>
                  <a href="/campgrounds/new" class="nav-item nav-link a">Add New Campground</a>
                  <a href="/" class="nav-item nav-link a">Login</a>
                  <a href="/" class="nav-item nav-link a">Sign Up</a>
                  <a href="/" class="nav-item nav-link a">Sign Out</a>
              </ul>
          </div>
      </div>
    </nav>