<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Semantic CSS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css'>
    <!-- Custom CSS -->
    <link rel="stylesheet" href=/app.css>
</head>
    <body>
        <div class="ui orange top fixed inverted menu">
            <div class="ui container">
                <a href="/books" class="header item">
                    <i class="book icon"></i>Books.io
                </a>
                <a href="/books" class="item">
                    Browse
                </a>
                <a href="books/new" class="item">
                    New
                </a>
            </div>
        </div>