sbody,
html {
    height:100%;
    width:100%;
}


.cl {
    color: #808080;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.cl:hover {
    color: #adadad;
    text-decoration: none;
}

.thumbnail-flex {
    display: flex;
    flex-wrap: wrap;
}

.a  {
    color:#232323 !important;
    -moz-transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    transition: all .15s ease-in;
}

.a:hover {
    color:#b3b3b3 !important;
}

form {
    margin: 2rem auto;
    width: 40%;
}

.form-text {
    font-size: .75rem !important;
}

.bgc-1 {
    background-color: #dbdbdb !important;
}